@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e2e2f5;
}

.design-card {
  padding-top: 15px;
  background-color: rgba(255, 255, 255, 0.422);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.design-card:hover {
  background-color: rgba(255, 255, 255, 0.628);
  transform: scale(1.05);
}

.design-text {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.628);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.gallery-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

body {
  background-image: url('../img/bggg.png'),
    linear-gradient(
      180deg,
      rgba(100, 100, 253, 0.594) 100%,
      rgba(255, 255, 255, 0) 60%
    ),
    url('../img/bg_main_ver2.png'),
    linear-gradient(180deg, rgba(27, 13, 158, 0) 10%, rgb(125, 121, 169) 100%);

  background-size: 1600px 700px, 100% 100%, 1900px, 100% 100%;
  background-repeat: repeat, repeat, repeat;
  background-position: 50% 70%, top left, 50% 20%, top left;
}

.gallery-section {
  margin-top: 140px;
}

@media (max-width: 990px) {
  html,
  body {
    background-image: url('img/bg_main_ver2.png');
    background-size: 1900px;
    background-repeat: repeat;
    background-position: top left;
  }

  .close-btn {
    right: 200px;
  }
}
