@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #5f56e6;
}

body {
  background-image: url('../img/sticky.png'), url('../img/sticky-1.png'),
    linear-gradient(
      180deg,
      rgba(61, 61, 227, 0.231) 100%,
      rgba(255, 255, 255, 0.737) 60%
    ),
    url('../img/bg_main_ver2.png'),
    linear-gradient(
      180deg,
      rgba(161, 150, 248, 0.929) 3%,
      rgb(97, 85, 227) 100%
    );

  background-size: 250px, 250px, 100% 100%, 1900px, 100% 100%;
  background-attachment: scroll, scroll, fixed, fixed, fixed;
  background-repeat: no-repeat, no-repeat, repeat, repeat, repeat;
  background-position: 70% 20%, 80% 55%, top left, 50% 20%, top left;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: rgb(213, 188, 255);
  color: #000000;
}

audio {
  width: 300px;
  opacity: 0.7;
}

.audio-container {
  position: absolute;
  bottom: 60px;
  right: 70px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 12px;
  border: 2px dotted rgba(43, 26, 98, 0.326);
  border-radius: 8px;
  background-color: #6b6b6b65;
  width: max-content;
  max-width: 90vw;
  box-shadow: 0 4px 9px rgba(94, 76, 255, 0.703);
  z-index: 10;
}

.audio-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
  color: rgba(240, 255, 255, 0.676);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 35px;
  line-height: 1;
  border-radius: 50%;
  text-align: center;
}

.desktop {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: rgba(83, 99, 243, 0.142);
  backdrop-filter: blur(2px);
  color: #7f7fdc;
}

.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.724) !important;
  margin: 0 10px;
}

.navbar-nav .nav-link:hover {
  color: #14044ca4 !important;
}

.icons {
  flex: 1;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.icon {
  border-radius: 10%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  margin-bottom: 7px;
  padding: 7px;
}

.icon img {
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease;
}

.icon:hover {
  background-color: rgba(186, 194, 248, 0.272);
  transform: scale(1.05);
}

.social-icon {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  font-size: 30px;
  position: relative;
}

.social-icon:hover {
  color: rgb(142, 181, 255);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(40, 46, 93, 0.779);
  color: white;
  font-size: 18px;
  z-index: 9999;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  color: #232343;
  font-family: 'Cedarville Cursive', cursive;
}

@media (max-width: 700px) {
  html,
  body {
    background-color: #5f56e6;
    background-image: url('../img/bg_main_ver2.png');
    background-size: 1900px;
    background-repeat: repeat;
    background-position: top left;
  }

  .close-btn {
    right: 150px;
  }

  .audio-container {
    display: none;
  }

  .icon:hover {
    background-color: rgba(186, 194, 248, 0);
    transform: scale(1.06);
  }

  .footer {
    font-size: 10px;
  }
}
